* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

ul{
    /*padding:2% 0 2% 5%;*/
    font-size: 1.5em;
}

ul li{
    width: 95%;
    margin-left: 7%;
}

body{
    font-family: "Lato", sans-serif;
}

nav{
    background-color: #2d5152;
    font-size: 1em; 
    padding: 2%;
    max-height: 30px;
}

nav ul li {
    display: inline;
    padding: 2%;   
    font-weight: bold;
    font-size: 0.8em;
}

nav li a {
    list-style-type: none;
    color: #e4e4e4;
    text-decoration: none;
    
}

nav li a:hover{
    color: #e5d5df;
}

header p{
    background-color: #e5d5df;
    padding: 8%;
    font-size: 4em; 
    text-align: center;
    font-weight: bold;
}

header img{
    width: 100%;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

#index{
    background-color: #e5d5df;
    padding: 5%;
    margin: 5%;
    width: 95%;
    margin: auto;
    margin:5% auto 5% auto;

}

.logo{
    width: 10%;
    height: 100px;
    vertical-align: middle;
    display: inline;
    float: right;
}

h1{
    color:#2d5152;
    font-weight: bolder;
    padding-left: 10%;
    padding-top: 5%;
}

h2{
    color: #a0c6ce;
    padding-left: 5%;
    padding-top: 3%;
}

.about-pg{
    font-size: 16px;
    display: block;
    margin: auto;
    padding-top: 2%;
    width: 80%;
    color: #2d5152;
    font-weight: bold;
    font-size: 24px;
}

.about-pg{
    padding-top: 5%;
}

main{
    padding-bottom: 2%;
}

main p{
    padding-top: 2%;
    padding-left: 2%;
    font-weight: bold;
    font-size: 1.5em;
    width: 90%;
    margin: auto; 
}

#main-button{
    background-color: #e5d5df;
    padding: 1%;
    margin: auto;
    display: block;
    font-size: 1em;
    color: #000000;
    font-weight: bold;
    text-align: left;
    
}

#main-button p{
    margin-top:2%; 
}

#cta{
    padding: 2%;
    border-radius: 8px;
    display: block;
    margin: auto;
    background-color: #2d5152;
    color: #e4e4e4;
    width:50%;
    font-size: 1em;
    font-weight: bold;
}

.h1-button{
    background-color: #e5d5df;
    padding: 3%;
    margin-top: 5%;
    margin-bottom: 2%;
    color: #2d5152;
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
}

#support{
    background-color: #a0c6ce;
    padding: 2%; 
    color:#2d5152;
    font-weight: bold;
    margin: 2% auto 2% auto;
    display: block;
    border-radius: 8px; 
    font-size: 1em;
    
}

main img{
    width: 70%;
    margin: auto;
    display: block;
    padding-top: 2%;
}

footer{
    background-color: #2d5152;
    padding: 3%;
    color: #e4e4e4;
    text-align: center;
    width: 100%;
}

footer p{
    width: 90%;
    margin: auto;
    padding: 2% 0 2% 0;
}




/* *********hamburger menu styles******* */

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

/* *********hamburger menu styles******* */


















/*Form styles*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


@media (max-width: 575px) {
  .formwrap{
    width: 100%
  }
}

@media (min-width:700px){
    #cta{
        width: 15%;
    }
}



