* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}


ul {
  display: inline;
  list-style: none;
}

li {
  display: inline;
  cursor: pointer;
  padding: 20px;
  margin-left: -5px;
}


body{
    font-family: "Lato", sans-serif;
}

nav{
    background-color: #2d5152;
    font-size: 1em; 
    padding: 2%;
}

nav li {
    display: inline;
    padding: 2%;   
    font-weight: bold;
}

nav li a {
    list-style-type: none;
    color: #e4e4e4;
    text-decoration: none;
    
}

nav li a:hover{
    color: #e5d5df;
}

header p{
    background-color: #e5d5df;
    padding: 8%;
    font-size: 64px; 
    text-align: center;
    font-weight: bold;
}

header img{
    width: 100%;
}

#index{
    background-color: #e5d5df;
    padding: 5%;
    margin: 5%;
    width: 50%;
    margin: auto;
    margin:5% auto 5% auto;

}

.logo{
    width: 10%;
    height: 100px;
    vertical-align: middle;
    display: inline;
    float: right;
}

h1{
    color:#2d5152;
    font-weight: bolder;
    padding-left: 10%;
    padding-top: 5%;
}

h2{
    color: #a0c6ce;
    padding-left: 2%;
    padding-top: 2%;
}

.about-pg{
    font-size: 16px;
    display: block;
    margin: auto;
    padding-top: 2%;
    width: 80%;
    color: #2d5152;
    font-weight: bold;
    font-size: 24px;
}

main{
    padding-bottom: 2%;
}

main p{
    padding-top: 2%;
    padding-left: 2%;
    font-weight: bold;
    font-size: 1.5em;
    
}

#main-button{
    background-color: #e5d5df;
    padding: 1%;
    margin: auto;
    display: block;
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    
}

#main-button p{
    text-align: left;
}

#cta{
    padding: 2%;
    border-radius: 8px;
    display: block;
    margin: auto;
    background-color: #2d5152;
    color: #e4e4e4;
    width:25%;
}

.h1-button{
    background-color: #e5d5df;
    padding: 2%;
    width: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #2d5152;
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
}

img{
    width: 70%;
    margin: auto;
    display: block;
    padding-top: 2%;
}

footer{
    background-color: #2d5152;
    padding: 3%;
    color: #e4e4e4;
    text-align: center;
}



